---
---
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

body { 
  background: #f7f5e8;
  font-family: Helvetica, sans-serif;
}

header {
  float: left;
  position: relative;
  text-align: center;
  width: 340px;
}

header h1, header h3 {
  background: url('{{site.baseurl}}/images/kristina_filler_logo.png') no-repeat;
  background-size: 223px 329px !important;
  height: 329px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 223px;
}

nav {
  margin-top: 20px;
}

nav li {
  padding: 4px 0;
}

nav .copyright {
  font-size: .75em;
  margin-top: 20px;
}

nav a {
  color: black;
  line-height: 1.4em;
  text-decoration: none;
}

nav a:hover {
  color: #f58973;
}

article {
  display: block;
  margin-left: 340px;
  padding-top: 30px;
  width: 800px;
}

article h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 1.25em;
}

.design-thumbs li {
  float: left;
  height: 156px;
  margin: 0 15px 15px 0;
  width: 186px;
}
.design-thumbs li:nth-child(4n){
  margin-right: 0;
}

article a { color: #f58973; font-weight: bold; }

article p { font-size: 14px; line-height: 20px; margin-bottom: 1.25em; }
article figure { margin-bottom: 1.25em; }
article figcaption { margin-top: 1.25em; }
