---
---
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

body { 
  background: #f7f5e8;
  font-family: Helvetica, sans-serif;
}

header {
  left: 0;
  position: fixed;
  top: 0;
  text-align: center;
  width: 340px;
}

header h1, header h3 {
  background: url('{{site.baseurl}}/images/kristina_filler_logo.png') no-repeat;
  background-size: 223px 329px !important;
  height: 329px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 223px;
}

header h1 {
  cursor: pointer;
}

nav {
  margin-top: 20px;
}

nav li {
  padding: 4px 0;
}

nav .copyright {
  font-size: .75em;
  margin-top: 20px;
}

nav a {
  color: black;
  line-height: 1.4em;
  text-decoration: none;
}

nav a:hover {
  color: #f58973;
}

article {
  display: block;
  margin-left: 340px;
  padding-top: 30px;
  width: 790px;
}

article h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 1.25em;
}

.design-thumbs {
  margin-left: -7px;
  width: 800px;
}
.design-thumbs li {
  float: left;
  height: 156px;
  margin: 0 7px 15px;
  width: 186px;
}

article a { color: #f58973; font-weight: bold; }

article blockquote { font-size: 20px; font-style: italic; line-height: 1.5em; margin-bottom: 1.25em;}
article blockquote span { font-size: 16px; }
article p { font-size: 14px; line-height: 20px; margin-bottom: 1.25em; }
article figure { margin-bottom: 1.25em; }
article figcaption { margin-top: 1.25em; }

.about figure { float: left; }
.about-content { float: right; width: 445px; margin-top: -4px;}

.press ul { margin: 1.25em 0; }
.press li { float: left; margin-right: 25px; }
.press a {
  background-position: -151px 0;
  display: block;
  height: 194px;
  overflow: hidden;
  text-indent: 100%;
  width: 151px;
  white-space: nowrap;
}
.press a:hover { background-position: 0 0; }
.press .good-foods { background-image: url('{{site.baseurl}}/images/press/good_food_jobs_interview.jpg'); }
.press .how-magazine { background-image: url('{{site.baseurl}}/images/press/how_magazine_interview.jpg'); }
.press .everyday { background-image: url('{{site.baseurl}}/images/press/everyday_mag_kfiller.jpg'); }
.press .the-dieline { background-image: url('{{site.baseurl}}/images/press/thedieline_caveman_cookies.jpg'); }

@media (max-width: 1200px) {
  header {
    width: 204px;
  }
  /* 329*223 */
  header h1, header h3 {
    background-size: 178px 263px !important;
    height: 263px;
    width: 178px;
  }
  article {
    margin-left: 214px;
    padding-right: 20px;
  }
}

/*

/*****************************************************************************/
/*
/* Isotope
/*
/*****************************************************************************/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
