<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Kristina Filler  |  Design &amp; Illustration That's Delightfully Different</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
    <link rel="canonical" href="http://kristinafiller.com{{ page.url }}">
    <link rel="shortcut icon" href="/favicon.ico?v=026" />
    <link rel="icon" href="/favicon.ico?v=026" type="image/x-icon">
  </head>
  <body>
    {{ content }}
  </body>
</html>
