---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Kristina Filler - this page has moved</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
    <link rel="canonical" href="http://kristinafiller.com/2013-2017{{ page.url }}">
    <meta http-equiv="refresh" content="0; url=/2013-2017{{ page.url }}">
    <link rel="shortcut icon" href="/favicon.ico?v=022" />
  </head>
  <body>
    <p>
      This page has moved. Find it here:<br>
      <a href="/2013-2017{{ page.url }}">kristinafiller.com/2013-2017{{ page.url }}</a>
    </p>
  </body>
</html>
